*,
*:before,
*:after {
  box-sizing: border-box;
}


body {
  font-family: "Titillium Web", sans-serif;
  background-image: url('../../../assets/IMG/21961.jpg');
  background-size: cover;
  width: 980px;
  height: 800px;
  margin-top: -30px;
  margin-bottom: -40px;
  margin-left: -10px;
  margin-right: -50px;
  
}


a {
  text-decoration: none;
  color: #bb5e13;
  transition: 0.5s ease;
}

a:hover {
  color: #319b17;
}


.form1 {
  background: rgba(64, 73, 80, 0.9);
  padding: 140px;
  max-width: 600px;
  height: 550px;
  padding-top: 80px;
  margin: 4px auto;
  margin-top: 40px;
  border-radius: 4px;
  box-shadow: 0 4px 20px 4px rgba(19, 35, 47, 0.3);
  margin-bottom: -30px;
  align-items: center;


}

.tab-group {
  list-style: none;
  padding: 0;
  margin: -50px -50px 40px -30px;
}

.tab-group:after {
  content: "";
  display: table;
  clear: both;
}

.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 15px;
  background: rgba(179, 164, 160, 0.25);
  color: #b3a8a0;
  font-size: 20px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.tab-group li a:hover {
  background: #9e4205;
  color: #ffffff;
}

.tab-group .active a {
  background: #830606;
  color: #ffffff;
}

.tab-content>div:last-child {
  display: none;
}



h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 10;
  margin-left: -50px;
  margin-right: -50px;
}

label {
  position: absolute;
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  pointer-events: none;
  font-size: 22px;
}

label .req {
  margin: 2px;
  color: #ccda09;
}

label.active {
  transform: translateY(50px);
  left: 2px;
  font-size: 14px;
}

label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

input,
textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: 1px solid #b3a0a0;
  color: #ffffff;
  border-radius: 0;
  transition: border-color 0.25s ease, box-shadow 0.25s ease;
}

input:focus,
textarea:focus {
  outline: 0;
  border-color: #ec8004;
}

textarea {
  border: 2px solid #df0e0e;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row:after {
  content: "";
  display: table;
  clear: both;
}

.top-row>div {
  float: left;
  width: 48%;
  margin-right: 4%;
}

.top-row>div:last-child {
  margin: 0;
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #910a0a;
  color: #ffffff;
  transition: all 0.5s ease;
}

.button:hover,
.button:focus {
  background: #fa0303;
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}