<body>
<br> 
<div class="form1">
    <ul class="tab-group">
        <li class="tab active"><a href="#signup">ADMINISTRADOR</a></li>
        <li class="tab"><a href="#login">DOCENTES   </a></li>
    </ul>

    <div class="signup" id="signup">
        <h1>REFACCIONARIA PMC</h1>

        <form action="/" method="post">


            <div class="field-wrap">
                <label>
                    ID USUARIO<span class="req">*</span>
                </label>
                <input type="email" required autocomplete="off" />
            </div>

            <div class="field-wrap">
                <label>
                    PASSWORD<span class="req">*</span>
                </label>
                <input type="password" required autocomplete="off" />
            </div>

            <button type="submit" class="button button-block">INICIAR SESIÓN</button> <br>
            <button type="submit" class="button button-block">REGISTRAR</button>

        </form>

    </div>
<br>
</div><!-- tab-content -->
</body>
