@import url('https://fonst.googleapis.com/css2?family=Noto+Sans&display=swap');

.material-icons{
  font-size: 16px;
}
.banner{
  margin-top: -12px;
  margin-left: -11px;
  margin-right: -11px;
}


-datatable-container{
  font-family: 'Noto Sans', sans-serif;
  background-color: var(--dt-background-color-container);
  border-radius: var(--dt-border-radius);
  color: var(--dt-text-color);
  width:600px;
  margin:0 auto;
  font-size: 12px;
}

.datatable-container .head-tools .tools{
  width: 70%;
}

.datatable-container .header-tools .tools ul{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: start;
  align-items: baseline;
}

.datatable-container .head-tools .tools ul li{
  display: inline-block;
  margin: 0 var(--dt-padding-xs);

}

.datatable-container .footer-tools .pages ul li button, 
.datatable-container .header-tools .tools ul li button{
  color: var(--dt-text-color-active-button);
  width: 100%;
  box-sizing: border-box;
  border:0;
  border-radius: var(--dt-border-radius);
  background: transparent;
  cursor: pointer;

}

.button {
  border: 0;
  outline: none;
  border-radius: 4px;
  padding: 10px 0;
  font-size: 20px;
  font-weight: 200;
  align-items: center;
  margin-left: 150px;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: #83040a;
  color: #ffffff;
  transition: all 0.5s ease;
}

.button:hover,
.button:focus {
  background: #c50404;
}

.button-block {
  display: block;
  width: 40%;
}


.ticket {
    width: 35%;
    border: 5px;
    background: white;
    height: 700px;
    margin-top: 30px;
    color: black;
    display: flex;
    text-align: center;
    border-radius: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.tit{
  background-color: #a75000;
  color:#FFF
}

.registros{
  background-color: #d3ce90;
}
#h1{
    text-align: center;
    margin-top:400px;
}
.precio{
  background-color: #636060;
  color:#fff243;
  margin-left: 80px;
  padding-right: 40px;;
  margin-top: -20px;
  margin-bottom: -20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.h4{
    text-align: center;
}
.productos {
    width: 63.7%;
    height: 690px;
    float: right;
    margin-top: -700px;
    border: 5px ;
    background: white;
    color: black;
    display: flex;
    text-align: center;
    border-radius: 28px;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.tituloventa{
    width: 35.3%;
    height: 10%;
    position:absolute;
    background-color: #beac0a;
    border-radius: 28px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.tituloproductos {
    width: 64%;
    height: 10%;
    position: absolute;
    background-color: #db0000;
    border-radius: 20px;

}
.ag-format-container {
    width: 1142px;
    margin: 0 auto;
  }

html{
    background-color: #b0b3b2;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -100px;
  }
  .img{
    margin-top: -10px;
    margin-bottom: -100px;
    align-items: center;
  
  }
  .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0;
    padding-top: -10px;
    margin-top: 60px;
  }
  .ag-courses_item {
    -ms-flex-preferred-size: calc(25% - 30px);
    flex-basis: calc(25% - 30px);
    margin: 0 15px 30px;
    overflow: hidden;
    border-radius: 28px;
  }
  .ag-courses-item_link {
    display: block;
    padding: 0px 10px;
    padding-top: 2px;
    background-color: #121212;
    overflow: hidden;
    position: relative;
  }
  .ag-courses-item_link:hover,
  .ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title {
    min-height: 50px;
    margin: 0 0 0px;
    padding-bottom: -50px;
    overflow: hidden;
    font-size: 17px;
    color: #FFF;
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    font-weight: bold;
    color: #34f9a7;
  
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #e44002;
  
    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  .ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  .ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  .ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  .ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  .ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #e44002;
  }
  
  
  
  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }




  .table-content {
    width: 450px;
    margin: 50px auto;
    text-align: center;
    border-collapse: collapse;
    caption-side: top;
    
}
td {
    width: 100px;
}



